<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.unit.dao.UnitEntityMapper">
  <resultMap id="BaseResultMap" type="com.example.unit.model.UnitEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>


  <!--用户登录验证-->
  <select id="userlogin" parameterType="com.example.unit.model.UnitEntity" resultType="com.example.unit.model.UnitEntity">
        SELECT id,name,code,address FROM t_unit WHERE name = #{name} AND code = #{code}
    </select>

  <!--新用户注册  方式1-->
  <insert id="adduser" parameterType="com.example.unit.model.UnitEntity" >
        INSERT INTO t_unit (name,code,address) VALUES (#{name},#{code},#{address})
    </insert>

  <!--新用户注册  方式2-->
  <insert id="adduser1" parameterType="com.example.unit.model.UnitEntity">
        INSERT INTO t_unit (id,name,code,address) VALUES (UUID(),#{name},#{code},#{address})
    </insert>
</mapper>